<!--<h1 [attr.title]="myClass">Angular In Action</h1>-->
<h1 [attr.class]="myClass">Angular In Action</h1>
<div class="cart-item">
  <img src="assets/images/item.jpg" alt="Hard drive">
  <div class="cart-item__title">Seagate Portable 2TB External Hard Drive Portable HDD – USB 3.0 for PC, Mac, PS4, & Xbox</div>
  <div class="cart-item__price">{{price | currency:'USD'}}</div>
  <div class="cart-item__discount">{{'discount' | uppercase}}<span [class.highlight]="shouldHighlight()">{{discount | number:'2.2-2' | percentage}}</span></div>
  <div class="cart-item__final-price" [style.backgroundColor]="priceChecker()">{{price - (price * discount / 100) | currency: 'USD'}}</div>
<!--  <div class="cart-item__final-price" [style.backgroundColor]="(price - (price * discount / 100) > 100? 'lightgreen': 'white')">{{price - (price * discount / 100) | currency: 'USD'}}</div>-->
<!--  <div class="cart-item__final-price" [style.backgroundColor]="'green'">{{price - (price * discount / 100) | currency: 'USD'}}</div>-->
</div>
<div class="control-panel">
  <!--Text interpolation-->
<!--  <div class="form-group">-->
    <!--<label>Price:</label>
    <input id="txt-price" type="number" placeholder="Price" value="{{price}}" min="0">
  </div>
  <div class="form-group">
    <label>Discount:</label>
    <input id="txt-discount" type="number" placeholder="Discount" value="{{discount}}" min="0">-->

    <!--property binding-->
  <!--  <div class="form-group">-->
    <!--<label>Price:</label>
    <input id="txt-price" type="number" placeholder="Price" min="0" [value]="price">
  </div>
  <div class="form-group">
    <label>Discount:</label>
    <input id="txt-discount" type="number" placeholder="Discount" min="0" [value]="discount">
  </div>-->

    <!--Event Binding-->
  <!--<div class="form-group">
    <label>Price:</label>
    <input #txtPrice id="txt-price" type="number" placeholder="Price" min="0" [value]="price" (input)="updatePrice(txtPrice.value)">
  </div>
  <div class="form-group">
    <label>Discount:</label>
    <input #txtDiscount id="txt-discount" type="number" placeholder="Discount" min="0" [value]="discount" (input)="updateDiscount(txtDiscount.value)">
  </div>-->

  <!--bidirectional model-->
  <div class="form-group">
    <label>Price:</label>
    <input id="txt-price" type="number" placeholder="Price" min="0" [(ngModel)]="price">
  </div>
  <div class="form-group">
    <label>Discount:</label>
    <input id="txt-discount" type="number" placeholder="Discount" min="0" [(ngModel)]="discount">
  </div>
</div>
<!--<button (click)="changeTooltip()">Let's change the tooltip!</button>-->
<button (click)="changeClass()">Let's change class</button>
